{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Movies{% endblock %}
{% block content %}
<div class="card-group">

	{% for movie in movies %}

	<div class="col-sm-4">
		<!-- <img src="{{ movie.image_link }}" alt="Movie Image" />
		</div>
			<i class="fas fa-music"></i>
			<div class="item">
				<h5>{{ movie.title }}</h5>
			</div>
		</a>  -->
		<!-- <div class="card mb-3" style="max-width: 540px;">
			<div class="row no-gutters">
				<a href="/movies/{{ movie.id }}">
			  <div class="col-md-4">
				<img src="{{ movie.image_link }}" class="card-img" alt="...">
			  
			  
				<div class="card-body">
				  <h5 class="card-title">{{movie.title}}</h5>
				  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			  </div>
			</div> -->
		<div class="card" style="width: 18rem;">

			<img src="{{ movie.image_link }}" class="card-img-top" alt="...">
			<div class="card-body">
				<a href="/movies/{{ movie.id }}">
					<h5>{{ movie.title }}</h5>
				</a>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the
					card's content.</p>
			</div>

		</div>
	</div>
	{% endfor %}

</div>
{% endblock %}