<div>
  <div *ngIf="loading"><img src="https://cdn.dribbble.com/users/3337757/screenshots/6825268/076_-loading_animated_dribbble_copy.gif" alt="Loading..." /></div>

  <div class="row">
    <div class="column" *ngFor="let movie of movies">
      <div class="card">
        <div class="card-header">
          <h5>{{ movie.title }}</h5>
        </div>
        <div class="card-body">
          <img src="{{ movie.image_link }}" class="card-img-top" alt="..." />
          <a
            [routerLink]="['/movies', movie.id]"
            routerLinkActive="active"
            class="custom-card"
            (click)="setDocTitle(movie.title)"
          >
            <h5>{{ movie.title }}</h5>
          </a>
          <p class="card-text">{{ movie.description }}</p>
          <span>
              <a class="updateBTN" (click)="update(movie)"><small>UPDATE</small></a>
            <a class="deteleBTN" (click)="delete(movie.id)"><small>DELETE</small></a>
        </span>
        </div>
      </div>
    </div>
  </div>
  <div class="addition">
    <h4 *ngIf="!id">Add Movie</h4>
    <h3 *ngIf="id">Update Movie</h3>
    <form class="form" (ngSubmit)="onSubmit()">
      <input type="number" name="id" [(ngModel)]="id" hidden />
      <input type="text" name="title" [(ngModel)]="title" placeholder="Title" />
      <input
        type="text"
        name="description"
        [(ngModel)]="description"
        placeholder="Description"
      />
      <input
        type="text"
        name="website"
        [(ngModel)]="website"
        placeholder="Website"
      />
      <input
        type="text"
        name="facebook_link"
        [(ngModel)]="facebook_link"
        placeholder="facebook"
      />
      <input
        type="text"
        name="image_link"
        [(ngModel)]="image_link"
        placeholder="image_link"
      />

      <input
        type="date"
        name="release_date"
        [(ngModel)]="release_date"
        placeholder="Release Date"
      />
      <span class="submit-actions">  <input type="submit" value="Submit" class="btn" />
        <input type="reset" value="Clear" class="btn" /></span>
      </form>
  
  </div>
</div>
