<div>
    <div class="align-center">
        <h3 *ngIf="!id">Add actor</h3>
        <h3 *ngIf="id">Update actor</h3>
        <form class="form" (ngSubmit)="onSubmit()">
            <input type="number" name="id" [(ngModel)]="id" hidden>
            <input type="text" name="title" [(ngModel)]="title" placeholder="Title">
            <input type="date" name="release_date" [(ngModel)]="release_date" placeholder="Release Date">
            <input type="submit" value="Submit" class="btn">
            <input type="reset" value="Clear" class="btn">
        </form>
    </div>
    <div *ngIf="loading" class="loading align-center">Loading...</div>
    
    <div class="row">
        <div class="column" *ngFor='let actor of actors'>


    
        <div class="card">
            <div class="card-header">
                <h5>{{ actor.title }}</h5>
            </div>
            <div class="card-body">
                <img src="{{ actor.image_link }}" class="card-img-top" alt="...">
                <a href="/actors/{{ actor.id }}">
                    <h5>{{ actor.name }}</h5>
                </a>
                <p class="card-text">{{actor.gender}}</p>
                <p class="card-text">{{actor.age}}</p>

              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          </div>
          </div>
          
</div>