/* You can add global styles to this file, and also import other style files */

.alert{
    width: 50vw;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .alert-success{
    background-color: #30D224A1;
  }
  
  .alert-danger{
    background-color: #e53935c4;
  }

  table {
    width: 750px;
    border-collapse: collapse;
    margin: 0px auto 20px auto;
  }
  
  /* Zebra striping */
  tr:nth-of-type(odd) {
    background: #c3c4c1;
  }
  
  th {
    background: #5b5d5e;
    color: white;
    font-weight: bold;
  }
  
  td,
  th {
    padding: 10px;
    border: none;
    text-align: left;
    font-size: 18px;
  }
  
  /* 
    Max width before this PARTICULAR table gets nasty
    This query will take effect for any screen smaller than 760px
    and also iPads specifically.
    */
  @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
    table {
      width: 100%;
    }
  
    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
    }
  
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  
    tr {
      border: 1px solid #ccc;
    }
  
    td {
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
    }
  
    td:before {
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      /* Label the data */
      content: attr(data-column);
  
      color: #000;
      font-weight: bold;
    }
  }
  
  a {
    cursor: pointer;
  }
  
  deteleBTN:focus,
  deteleBTN:hover {
    background-color: FireBrick;
    color: White;
  }
  
  .deteleBTN {
      background-color: Crimson;  
      border-radius: 5px;
      color: white;
      padding: .2em .5em;
      text-decoration: none;
  }
  
  .updateBTN:focus,
  .updateBTN:hover {
    color: #2f216f;
    text-decoration: underline;
  }
  
  .updateBTN {
      color: #533eb7;
  }
  
  .align-center {
      text-align: center;
  }
  
  .loading {
    background-color:
    cornflowerblue;
    padding: 10px;
    margin-top: 20px;
    font-size: large;
    font-weight: bold;
  }
  